* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'Luckiest Guy', cursive;
}
.home {
	text-align: center;
	height: 100vh;
	background-color: rgb(248, 164, 68);
}
.home h1 {
	font-family: 'Luckiest Guy', cursive;
	padding: 20px;
}
.start-button {
	font-weight: bold;
	border: none;
	padding: 0.75rem;
	border-radius: 12px;
	color: black;
}
.start-button:hover {
	color: white;
	background-color: rgb(255, 196, 0);
}

.logo {
	width: 250px;
	height: 250px;
}

.switch {
	display: flex;
	justify-content: center;
	flex-direction: row;
}
.switch input {
	display: none;
}

.switch label :checked + span {
	background-color: rgb(255, 166, 0);
	color: black;
}

.switch label span {
	display: inline-block;
	background: rgb(223, 223, 223);
	margin: 0.5rem;
	height: 4em;
	width: 6em;
	text-align: center;
	border-radius: 12px;
	padding: 20px;
}
.main {
	text-align: center;
	background-color: #cfc0b3;
}
.logo-container img {
	width: 300px;
	height: 300px;
}

.calculator {
	width: 100%;
	margin: 0 auto;
}
form {
	padding: 2rem;
}
form label {
	width: 100%;
	margin: 0 auto;
}
form input,
select {
	width: 100%;
	padding: 10px 18px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 10px;
}

.submit-button {
	width: 100%;
	background-color: rgb(255, 166, 0);
	margin-top: 10px;
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
	margin-top: 20px;
	border: none;
	border-radius: 4px;
	padding: 20px;
}
.result {
	font-size: 24px;
	color: rgb(35, 0, 131);
}
.result span {
	background-color: rgb(255, 219, 59);
	font-weight: bold;
	padding: 5px;
}

@media (min-width: 400px) {
	.home {
		background-image: url('./assets/images/photo-1587834207015-9b561f893e31.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.logo {
		display: inline-block;
		position: absolute;
		left: 0;
		top: 0;
	}
	.home-text {
		display: inline-block;
		position: absolute;
		left: 8%;
		bottom: 8%;
	}
	.home h1 {
		border-top: 2px solid black;
	}
}
@media (min-width: 720px) {
	.main {
		display: flex;
		height: 100vh;
		justify-content: space-evenly;
		align-items: center;
	}
	.calculator {
		width: 40%;
		padding: 20px;
	}
	.logo-container {
		width: 40%;
	}
	.logo-container img,
	.logo {
		width: 500px;
		height: 500px;
	}
}
